@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


body{
    background-color: rgb(39, 39, 39);
    font-family: 'Zen Dots', cursive;
    color: white;
    
}

.container{
    margin-top: 10px;
}

#hangmanPic{
    margin-bottom: 60px;
}
#answerDisplay{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 40px;

}
#guess{
    font-size: 30px;
    margin: 0;
}
button{
    min-width: 50px;
    margin:auto;
}
.text-container{
    text-align: center;
}

#keyboard{
    margin: auto;
    padding-bottom: 30px;
}

.btn{
    background-color: rgb(94, 0, 94);
    border-color: rgb(31, 0, 31);
    margin: auto;

}

.btn:hover{
    background-color: rgb(61, 0, 61);
    border-color: rgb(94, 0, 94);
}

#guesses{
    margin-top: 30px;
}

#answerDisplay{
    margin-bottom: 10px;
}